<div class="text-dark bg-light"><h1>Your Cart Details</h1></div>
<%= render 'cart_items/cartitems'%>
<% if current_user.order %>

<%= link_to 'Order Details', order_items_path %>
<%else%>
<div class="text-dark bg-light"><h1>Enter Shipping Details</h1></div>
   <%= render 'form' , path: orders_path , method_type: 'POST' %>
   <%end%>




