<%if current_user.seller?%><div class="text-white bg-dark"><center><h1><%= current_user.shop.name%> </h1></div></center><%end%>
<div class="text-dark bg-light"><h1>Cart</h1></div>

<table id="cart_item-table-id" class="table">
<thead class="thead-light">
<tr>
<th scope="col">Name</th>
<th scope="col">Description</th>
<th scope="col">Price</th>

</tr>
</thead>

<tbody>
<% @cart_items.each do |cart_item| %>
<tr>
<td><%= cart_item.product.title %></td>
<td><%= cart_item.product.description %></td>
<td><%= cart_item.product.price %></td>
<%end%>
</tbody>
</table>

<br>
<script>
$(document).ready( function () {
$('#cart_item-table-id').DataTable();
} );
</script>
