<div class="form-group">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card">
                <div class="card-body">
<p>
<strong>Name:</strong>
  <%= @category.name %>
</p>
<strong>Image:</strong>
<% if @category.image_url %>
      <%= link_to image_tag(@category.image_url(:thumb))%>
      <%end%>

 <button class="btn btn-light"><%= link_to 'All categories', admin_categories_path%></button>

 <button class="btn btn-light"><%= link_to 'Edit', edit_admin_category_path(@category) %></button>
 </div>
</div>
    </div>
    </div>
    </div>
    </div>